<header>
  <h1>Students</h1>
  <ul class="actions">
			<li><%= link_to 'New Student', new_student_path, class: 'new' %></li>
      <li><%= form_tag students_upload_path, multipart: true do %></li>
      <li><%= file_field_tag :leads %></li>
      <li><%= submit_tag "Import Students" %></li>
      <% end %>
		</ul>
</header>

<table class='search-table table search'>
  <thead>
    <tr>
      <th style="display:none">Full Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Student ID Number</th>
      <th>Grade level</th>
      <th>Homeroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td style="display:none"><%= student.full_name.downcase%></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.student_id_number %></td>
        <td><%= student.grade_level %></td>
        <td><%= student.homeroom %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


