<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Student id number:</strong>
  <%= @student.student_id_number %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @student.grade_level %>
</p>

<p>
  <strong>Homeroom:</strong>
  <%= @student.homeroom %>
</p>

<p>Referrals:</p>
<% @referrals.each do |referral| %>
<ul>
  <li>
    Created: <%= referral.created_at %>
    Note: <%= link_to referral.note, student_referral_path(@student, referral) %>
    By: <%= referral.user.name %>
  </li>
</ul>
<% end %>

<br>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
<%= link_to 'Add Referral', new_student_referral_path(@student) %>
