<header>
  <h1>Student Overview</h1>
  <%= link_to 'Add Referral', new_student_referral_path(@student) %> |
  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Back', students_path %> |
</header>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Student id number:</strong>
  <%= @student.student_id_number %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @student.grade_level %>
</p>

<p>
  <strong>Homeroom:</strong>
  <%= @student.homeroom %>
</p>

<h2>Referrals</h2>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Referral</th>
      <th>Referral Type</th>
      <th>Occurance Date</th>
      <th>Created Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referrals.each do |referral|  %>
      <tr>
        <td><%= referral.user.name %></td>
        <td><%= link_to referral.note, student_referral_path(@student, referral) %></td>
        <td><%= referral.category.name %></td>
        <td><%= time_format(referral.occurance_date) %></td>
        <td><%= time_format(referral.created_at) %></td>
      </tr>
    <% end %>
  </tbody>

</table>

