<header>
	<h1>Referrals</h1>
</header>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Student</th>
      <th>Homeroom</th>
      <th>Referral</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @referrals.each do |referral| %>
      <tr>
        <td><%= link_to referral.user.name, user_path(referral.user)  %></td>
        <td><%= link_to referral.student.full_name, student_path(referral.student)%></td>
        <td><%= link_to referral.student.homeroom.room_number, admin_homeroom_path(referral.student.homeroom)%></td>
        <td><%= link_to truncate(referral.note, length: 30), student_referral_path(referral.student, referral) %></td>
        <td><%= time_format(referral.created_at) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
