<header>
  <h1>Referral Info</h1>
</header>


<p>
  <strong>Teacher Name:</strong>
  <%= @referral.user.name %>
</p>

<p>
  <strong>Student Name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>Student id number:</strong>
  <%= @student.student_id_number %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @student.grade_level.grade %>
</p>

<p>
  <strong>Homeroom:</strong>
  <%= @student.homeroom.room_number %>

  <p>
  <strong>Referral Type:</strong>
  <%= @referral.category.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @referral.note %>
</p>

<%= link_to 'Edit', edit_student_referral_path(@student) %> |
<%= link_to 'Back', student_path(@student) %>
