<header>
	<h1>Grade Level: <%= @grade_level.grade %></h1>
  <h2> Total Referrals: <%= @grade_level.referrals.count %> </h2>
</header>

<header>
  <h2> Homerooms in Grade Level <%= @grade_level.grade %>: <%= @grade_level.homerooms.count %> </h2>
</header>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Homeroom</th>
      <th>Number of Students</th>
      <th>Number of Referrals</th>
    </tr>
  </thead>

  <tbody>
    <% @homerooms.each do |homeroom| %>
      <tr>
        <td><%= link_to homeroom.room_number, admin_homeroom_path(homeroom) %></td>
        <td><%= homeroom.students.count %></td>
        <td><%= homeroom.referrals.count %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<header>
  <h2> Students in Grade Level <%= @grade_level.grade %>: <%= @grade_level.students.count %> </h2>
</header>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Homeroom</th>
      <th>Number of Referrals</th>
    </tr>
  </thead>

  <tbody>
    <% @grade_level.students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student_path(student) %></td>
        <td><%= link_to student.homeroom.room_number, admin_homeroom_path(student.homeroom) %></td>
        <td><%= link_to student.referrals.count, student_path(student) %></td>
      </tr>
    <% end %>
  </tbody>

</table>